@font-face {
  font-family: 'digital-7 MonoItalic';
  src: url('./data/digital7.ttf');
}

body {
  margin: 0;
  background-color: #202020;
  font-family: 'digital-7 MonoItalic', TrueType;
  color: #aaa;
  text-align: center;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



